.root {
    -fx-font-family: Arial;
    -fx-background-color: #eee0b1;
}

.label {
    -fx-background-color: #eee0b1;
    -fx-font-family: Arial;
    -fx-border-insets: 10px;
    -fx-border-color: #cb9a45;
}

.button {
    -fx-background-color: #dd0202;
    -fx-text-fill: white;
}